.address h4{
    font-size: 20px;
    color: aliceblue;
}

.address p {
    color: #fff;
}

.address .spanone {
    color: aliceblue;
    font-weight: 900;
    font-size: 15px;
    float: left;
    width: 80px;
}

/* .address .spantwo {
    color: aliceblue;
    font-weight: 900;
    font-size: 15px;
} */
/* .address .spanone::after {
    content: " : ";
  } */