.user {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.3);
    transition: transform .3s ease;
    cursor: pointer;
    display: flex;
}

.user:hover {
    transform: scale(1.1);
}

.user__title {
    font-weight: 800;
    font-size: 30px;
}
