.user {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.3);
    cursor: pointer;
    display: flex;
}


.user__title {
    font-weight: 800;
    font-size: 30px;
}

@media screen and (max-width: 676px) {
    .zoomImage {
        width: 100%;
    }
    .user {
        width: 500px !important;
    }
  }