.user {
    margin: 10px;
    padding: 10px;
    width: 320px;
    cursor: pointer;
    display: flex;
    background-color: #120e0eeb;
}

.user__title {
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: aliceblue;
}

.other-details  p {
    color: #fff;
}

.other-details span {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
}
.phone {
    margin-bottom: 20px;
    margin-top: 23px;
    color: #fff;
}
.phone span {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
}

.zoomImage {
    width: 40%;
}



  @media only screen and (max-width: 600px) {
    .zoomImage {
        width: 100%;
    }
    .user {
        min-width: 480px !important;
    }
  }