.App {
  padding: 4rem;
}
.user_container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 676px) {
  .user_container  {
      width: 300px;
  }
}

.search-box {
  outline: none;
  width: 100%;
  border: 1px solid grey;
  font-size: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}
